@model InventoryManagementSystem.Models.Category

@{
    ViewBag.Title = "CreateCategory-";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Adding Category</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.Label("Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("category",null, new { @class = "form-control", @placeholder = "Category Name", @id = "category" })
            <p id="categoryValid"></p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" id="categorySave" class="btn btn-success" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#categorySave").click(function(e) {
            if (!$("#category").val()) {
                $("#categoryValid").css("display", "block");
                $("#categoryValid").css("color", "red");
                $("#categoryValid").html("Type category name.");
            }else {
                $("#categoryValid").empty();
                e.preventDefault();
                var data = { "txt_category": $("#category").val() }
                $.ajax({
                    url: "/Admin/SaveCategory",
                    data: JSON.stringify(data),
                    datatype: "json",
                    type: "POST",
                    contentType: "application/json",
                    success: function (status) {
                        if (status !== "InvalidData") {
                            if (status === "Success") {
                                alertify.success("Added Successfully");
                                $("#category").val('');
                            }
                        }
                        else {
                            alertify.error("Something went wrong");
                        }
                    },
                    error: function () {
                        $("#span1").html("ERROR");
                    }
                });
            }
        });
    });
</script>
