@model InventoryManagementSystem.Models.Sub_Category

@{
    ViewBag.Title = "CreateSubCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Adding Sub-Category</h2>

<div class="form-horizontal">
    <hr/>
    <div class="form-group">
        @Html.Label("Sub-category Name", htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.TextBox("subcategory", null, new {@class = "form-control", @placeholder = "Sub-Category", @id = "subcategory"})
            <p id="subcategoryValid"></p>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Category", htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownList("category", (SelectList) ViewData["category"], "--Select a Category--", new {@class = "form-control", @id = "categoryid"})
            <p id="categorydropdownValid"></p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" id="subcategorySave"/>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#subcategorySave").click(function (e) {
            if (!$("#subcategory").val()) {
                $("#subcategoryValid").css("display", "block");
                $("#subcategoryValid").css("color", "red");
                $("#subcategoryValid").html("Type sub-category name.");
            }
            else if (!$("#categoryid").val()) {
                $("#categorydropdownValid").css("display", "block");
                $("#categorydropdownValid").css("color", "red");
                $("#categorydropdownValid").html("Select a category.");
            }
            else {
                $("#subcategoryValid").empty();
                $("#categorydropdownValid").empty();
                e.preventDefault();
                var data = { "txt_subcategory": $("#subcategory").val(), "txt_categoryid": $("#categoryid").val() }
                $.ajax({
                    url: "/Admin/SaveSubCategory",
                    data: JSON.stringify(data),
                    datatype: "json",
                    type: "POST",
                    contentType: "application/json",
                    success: function (status) {
                        if (status !== "InvalidData") {
                            if (status === "Success") {
                                alertify.success("Added Successfully");
                                $("#subcategory").val('');
                                $("#categoryid").val('');
                            }
                        }
                        else {
                            alertify.error("Something went wrong");
                        }
                    },
                    error: function () {
                        $("#span1").html("ERROR");
                    }
                });
            }
        });
    });
</script>